@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~highlight.js/scss/github';

#content {
  padding-top: 2rem;
}

.has-jumbotron #content {
  padding-top: 0px;
}
.jumbotron {
  margin-top: 30px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.card-deck {
  margin-bottom: 20px;
}
.sticky-offset {
  top: 75px;
}

ul.nav li.main {
  font-weight: bold;
}

.btn:visited {
  color: white;
}

.bs-sidebar.well {
  padding: 0;
}

.bs-sidenav {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:  10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.bs-sidebar .nav > li > a {
  display: block;
  padding: 5px 20px;
  z-index: 1;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  border-right: 1px solid;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  background-color: transparent;
  border-right: 1px solid;
}

.bs-sidebar .nav .nav {
  display: none;
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:  3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    top: 80px;
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
}
